* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.info-section {
    flex-grow: 2;
    background-color: rgb(37, 45, 57);
    width: 100%;
    height: 55px;
    color: white;
}
.social  {
    gap: 30px;
    cursor: pointer;
    font-size: 13px;
}
.social i:hover  {
    color: rgb(134, 195, 58);
}
.info-section .container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-section .correct-social span {
    width: 150px;
}
.correct-social {
    display: flex;
    justify-content: center;
    align-items: center;
}
.info a {
    color: white;
}
.info span {
    color: rgb(134, 195, 58);
}
.info  {
    width: 100%;
    justify-content: flex-end;
}
.gmail-info {
    width: 100%;
}
.gmail {
    width: 150px;
    border-right: 1px solid;
}
.number {
    margin-left: 25px;
}
.number a:hover {
    color: rgb(134, 195, 58);
}
.gmail a:hover{
    color: rgb(134, 195, 58);
}
.navbar .container {
    width: 100%;
}
.navbar {
    height: 120px;
}
.boxericon {
    flex-grow: 1;
}
.navbar-list {
    flex-grow: 5;
}
.nav {
    gap: 30px;
}
.navbar-list a {
    list-style: none;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
.navbar-list a:hover{
    color: rgb(134, 195, 58);
}
.dropdown-menu {
    display: none; 
    background-color: white; 
    border: 1px solid #ccc;
    z-index: 1; 
}
.navitem-dropdown:hover .dropdown-menu {
    display: block; 
    text-align: center;
}
.search i {
    cursor: pointer;
}
.btn-part {
    width: 170px;
    height: 60px;
    background-color: rgb(134, 195, 58);
    border-radius: 100px;
    transition: 0.5s;
}
.btn-part a {
    text-transform: uppercase;
    color: white;
}
.btn-part:hover  {
    background-color: rgb(80, 115, 37);
    color: white;
    width: 160px;
    height: 60px;
    border-radius: 100px;
}
.hero {
    height: 800px;
    background-image: url(../images/banner-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero .container {
    padding-top: 160px;
}
.info-part p {
    width: 50%;
    word-break: keep-all;
}
.info-part h4 {
    word-spacing: 5px;
}
.info-part h2 {
    font-size: 60px;
}
.button-part-second {
    width: 170px;
    height: 60px;
    background-color: transparent;
    border-radius: 100px;
    transition: 0.5s;
    border: 2px solid black;
    
}
.button-part-second a {
    text-decoration: none;
    color: black;
}
.button-part-second:hover  {
    color: white;
    background-color: rgb(80, 115, 37);
    width: 165px;
    height: 55px;
    border-radius: 100px;
    border: transparent;
}
.info-boxes {
    width: 100%;
    left: 0;
    gap: 30px;
}
.info-boxes {
    gap: 30px;
}
.info-box-items {
    padding: 20px;
    gap: 30px;
    margin-right: 20px;
    width: 25%;
    height: 370px;
    background-color: white;
}
.iconform{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 2px solid rgb(134, 195, 58);
    font-size: 60px;
}
.iconform i {
    color: rgb(134, 195, 58);
}
.active {
    background-color: rgb(37, 45, 57);
    color: white;
}
.info-box-items:hover{
    background-color: rgb(37, 45, 57);
    color: white;
}
.infosec {
    height: 100vh;
    margin-top: 400px;
}
.infosec .row {
    background-image: url(../images/about-us-bg.png);
    background-repeat: no-repeat;
    gap: 80px;
}
.section-title-border {
    height: 5px;
    width: 30px;
    background: #86c33a;
    border-radius: 10px;
    margin-bottom: 20px;
}
.section-title-border::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 25%;
    background: #86c33a;
    border-radius: 10px;
    right: -100%;
    top: 0;
}
.section-title-border::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 50%;
        background: #86c33a;
        border-radius: 10px;
        right: -60%;
        top: 0;
}

.about-section {
    margin-top: 100px;
}
.company-results {
    height: 170px;
    background-color: rgb(37, 45, 57);
}
.company-result i {
    color:#86c33a ;
    margin-right: 20px;
    font-size: 60px;
}
.company-result::before {
    position: absolute;
    right: 100%;
    top: 0;
    width: 100%;
    height: 170px;
    content: '';
    background-color: rgb(37, 45, 57);
    border-right: 0.5px solid rgb(81, 80, 80);
}
.choose-section {
    margin-top: 150px;
    margin-left: 100px;
}
.icondiv i {
    width: 100px;
    height: 100px;
    border-radius: 100px; 
    border: 2px solid rgb(134, 195, 58);
    font-size: 30px;
    color: #86c33a;
}
.icondiv {
    margin-right: 20px;
}

.leftsection {
    margin: 60px;
}
.container .back {
    background-repeat: no-repeat;
    right: 90px;
}
.back img {
    height: 515px;
}
.container .imgbox {
    margin-top: 80px;
}
.imgbox img {
    box-shadow: 0px 15px 39px 0px rgba(8, 18, 109, 0.1);
    height: 350px;
}
.backcolor {
    margin-top: 150px;
    height: 500px;
    background-color: rgb(37, 45, 57);
}
.imagereads i {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: 1px;
    background-color: #86c33a;
    color: white;
    left: 20px;
    font-size: 30px;
    bottom: 20px;
}
.info-a a  {
    font-size: 20px;
    color:black;
}
.info-a a:hover  {
    color:#86c33a;
}
.reads {
    box-shadow: 0px 15px 39px 0px rgba(8, 18, 109, 0.1);
    background-color: white;
    margin-top: -100px;
    margin-right: 20px;
    width: 350px;
    gap: 40px;
}
.readsinfo {
    margin: 20px;
    background-color: white;
}
.info-second-a {
    color: black;
    text-decoration: none;
}
.info-second-a:hover {
    color:#86c33a;
}
.read-more .container {
    display: flex;
    justify-content: center;
    align-items: center;
} 
.read-more {
    background-image: linear-gradient(to right, #f5f6fa 45%, #fff 0%);
    height: auto;
}
.team-info {
    width:40%;
    word-break:break-all;
}

.team {
    margin-top: 200px;
}
.member:hover .hover-icon {
    opacity: 1;
}
.member {
    margin-right: 30px; 
}
.second{
    visibility: hidden;
    bottom: 125px;
    transition: opacity 0.5s ease;
}
.first {
    transition: opacity 0.5s ease;
    visibility: hidden;
    right: 0;
}
.hover-icon {
    left: 0; 
    bottom: 125px; 
    background-color: rgba(134, 195, 58, 0.8);
    height: 16%; 
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease; 
}
.member:hover .hover-icon {
    width: 100%;
    opacity: 1; 
    left: 0;
}

.member:hover .second {
    transition: opacity 0.5s ease;
    visibility: visible;
    bottom: 105px;
    right: 150px;
    margin-right: 20px; 
}

.member:hover .first {
    transition: opacity 0.5s ease;
    visibility: visible;
    bottom: 370px;
    left: 170px;
    margin-right: 20px; 
}

.hover-icon ul {
    width: 100%;
    padding: 0; 
}
.hover-icon ul li  {
    margin: 0 5px; 
}
.hover-icon a  {
    text-decoration: none;
    color: white;
}
.hover-icon a:hover{
    color:#86c33a;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.hover-icon ul li i {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid white;
}
.member h4 a {
    margin-top: 70px;
    text-decoration: none;
}
.member-name a {
    color: black;
}
.member-name a:hover {
    color: #86c33a;
}
.end .container {
    margin-top: 100px;
}
.job-info {
    flex: 1 1 300px; 
    width: 100%;
    height: 100%;
}
.img-job img {
    max-width: 100%; /* Resimlerin maksimum genişliği */
    height: auto; /* Resimlerin oranlarını korumak için */
}
.img-job::before {
    content: '';
    position: absolute;
    width: 378px ;
    height: 378px;
    opacity: 0;
    transition: opacity 0.3s ease; 
    z-index: 1;
}
.img-job:hover::before {
    background-color: rgb(140, 196, 73);
    opacity: 0.8; 
}
.jobs-info {
    width: 100%;
    height: auto;
    display: flex;
}
.img-job img {
    width: 100%;
}
.text-info {
    margin: 20px;
}
.text-info p {
    font-weight: bold;
    color: #86c33a;
    font-size: 15px;
}
.text-info a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 16px;
}
.text-info a:hover {
    color: #86c33a;

}


.client {
    background: #f5f6fa;
    background-image: url(../images/testimonial-bg-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.client-info{
    justify-content: center;
    align-items: center;
}
.client-img span {
    font-size: 100px;
}

.client-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.client-info .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.client-img p {
    font-size: 25px;
}
.client-img h2 {
    font-size: 35px;
}

.client-img img {
    border-radius: 50%;
}
.client-img i {
    font-size: 200px;
    color: rgba(134, 195, 58, 0.3);
}
.client-text {
    top: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.client-text p {
    font-size: 20px;
    width: 70%;
    font-style: italic;
    word-break: break-all;
}

.client-text span {
    color: #86c33a;
}

.bg-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/cta-lg.jpg);;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    position: relative;
}

.bg-overlay::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(18, 21, 33);
    opacity: 0.8;
}
.bg-overlay-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 2;
}

.bg-overlay h2 {
    width: 70%;
    text-align: center;
    font-size: 40px;
    color: white;
}

.learn-bexar {
    position: relative;
    background-image: linear-gradient(to right, #f5f6fa 45%, #fff 0%);

}
.bexars {
    position: relative;

}
.bg-img-left {
    position: absolute;
    bottom: 0;
    left: 0;
}
.bg-img-right {
    position: absolute;
    bottom: 150px;
    right: 0;
}

.learn-bexar .container {
    position: relative;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.infos-boxes {
    height: 100vh;
    display: flex;
    justify-content: space-between;
}
.learn-info {
    box-shadow: 0px 15px 39px 0px rgb(210, 208, 208);
    display: flex;
    flex-direction: column;
    height: auto;
    background-color:  white;
    gap: 20px;
}
.learn-img {
    position: relative;
}
.learn-img img {
    height: auto;

}
.card-type {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 70px;
    height: 30px;
    position: absolute;
    top: 30px;
    left: 20px;
    background-color: #86c33a;
    color: white;
}
.card-info {
    margin: 20px;
    width: 330px;
}

.card-meta {
    width: 330px;
    margin: 20px;
}
.card-meta a {
    color: black;
    font-size: 20px;
}
.card-meta a:hover {
    color: #86c33a;
}
.footer-info .container {
    display: flex;
    position: relative;

}
.footer-info {
    padding-top: 100px;
}

.footer-icon {
    height: 600px;
    display: flex;
    flex-direction: column;

}
.footer {
    background-color: rgb(37, 45, 57);
}
.footer-icon p {
    word-break: break-all;
    width: 80%;
}
.social-icon i {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid white;
    color: white;
    transition: 0.5s;
}
.social-icon a {
    text-decoration: none;
}
.social-icon i:hover {
    background-color: #86c33a;
    width: 45px;
    height: 45px;
    border-radius: 45px;
}
.services a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: lighter;
}

.services a:hover {
    text-decoration: underline;
    color: #86c33a;

}
.services li {
    width: 200px;
    margin: 20px;
}


.footer-right {
    display: flex;
}
.footer-right h2 {
    width: 200px;
}
.form-control {
    width: 400px;
}

.btn-subscribe {
    background-color: #86c33a;
}

.last-btn {
    height: 50px;
    border-radius: 1000px;
    display: flex;

}

.btn-part-last {
    position: absolute;
    top: 400px;
    right: 0;
}
.last-btn input[type="email"] {
    background-color: rgb(59, 66, 77);
    border-radius: 50px 0 0 50px;
    width: 350px;
}

.last-btn .btn-subscribe {
    background-color: #86c33a;
    width: 200px;
    border-radius: 0 50px 50px 0; 
}
.last-btn .btn-subscribe:hover{
    background-color: #68992c;

}

.footer-last {
    background-color: rgb(31, 38, 48);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.list-footer {
    align-items: center;
    display: flex;
} 
.list-footer li{
    width: 150px;
}
.list-footer a{
    color: white;
}
.list-footer a:hover{
    color: #86c33a;
}

.first-footer-list {
    padding-right: 15px ;
    height: 20px;
    border-right: 1px solid white;
}
.footer-last .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-last span {
    color: #86c33a;
}

/* navbar-responsive */

@media screen and (max-width: 768px) {
    .navbar-list {
        visibility: hidden;
    }
    
    .navbar {
        height: 80px !important
    }

}

@media screen and (max-width: 460px) {
    .navbar-list {
        visibility: hidden;
    }
    
    .navbar {
        height: 50px !important
    }

}
@media screen and (max-width: 990px) {
    .navbar-list {
        visibility: hidden;
    }


}
/* header-responsive */

@media screen and (max-width: 790px) {
    .info-section  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100px;
    }
    .info-section .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info-section span {
        width: 250px;
    }
    .gmail-info {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width: 430px) {
    .info-section {
        height: 200px;
    
    }
    .correct-social {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        gap: 10px;
    
    }
    .info {
        justify-content: center;
        align-items: center;
        gap: 5px;
        display: flex;
        flex-direction: column;
    
    }
}

/* hero-section */

@media screen and (max-width: 780px) {
    .hero {
        height: auto;
    
    }
    .hero .container{
        height: auto;
    }
    .info-part {
        word-break: break-all;
        width: 80%;
    }

    .d-flex {
        flex-wrap: wrap;
    }
    .info-box-items {
        width: auto;
    }
    .info-boxes {
        height: auto;
        top: 400px;
        }
}


@media screen and (max-width: 450px) {
    .hero {
        height: 100vh;
    
    }
    .hero .container{
        height: 100vh;
    }
    .info-part {
        word-break: break-all;
        width: 80%;
    }
    .info-boxes {
        height: 100vh;
    top: 700px;
    }
    .info-boxes .d-flex {
        height: 100vh;
        flex-direction: column

    }
    .info-box-items {
        width: auto;
    }
}

/* infosec-section */

@media (max-width: 780px) {
    .infosec {
        padding-top: 1000px;
        padding-bottom: 1000px;
    }
}
@media (max-width: 440px) {
    .infosec {
        padding-top: 600px;
        padding-bottom: 1000px;
    }
}

/* about-section */

@media (max-width: 991.98px) {
    .about-section .company-results .company-result {
        text-align: center; 
    }
    .company-results {
        display: flex;
        flex-direction: column;
        gap: 30px;
        height: 400px;
    }
    .company-result::before {
        height: 400px;
    
    }
}

@media (max-width: 767.98px) {
    .about-section .company-results .company-result {
        margin-bottom: 40px; 
    }
    .company-results {
        display: flex;
        flex-direction: column;
        height: 550px;
    }
    .company-result::before {
        height: 550px;
    
    }

}
@media (max-width: 700px) {
    .about-section .company-results .company-result {
        margin-bottom: 40px; 
    }
    .company-results {
        display: flex;
        flex-direction: column;
        height: 550px;
    }
    .company-result::before {
        height: 550px;
    }

}

@media (max-width: 500px) {
    .about-section .company-results .company-result {
        margin-bottom: 40px;
    }
    .company-results {
        display: flex;
        flex-direction: column;
        height: 580px;
    }
    .company-result::before {
        height: 580px;
    }
}

/* backcolor */

@media (max-width: 790px) {
    .backcolor {
        margin-top: 600px;
    }


}

/* read-more */

@media screen and (max-width: 768px) {
    .d-flex {
        flex-direction: column;
    }

    .readsinfo {
        margin-top: 20px;
        text-align: center;
    }

    .imagereads {
        margin-bottom: 20px;
    }
}

/* job-info */

@media screen and (max-width: 768px) {
    .job-info {
        width: 100%; 
    }
    .job-info {
        display: flex;
        flex-direction: column;
    }
    .jobs-info {
        display: flex;
        flex-direction: column;
    
    }


}


/* client-section */

@media screen and (max-width: 992px) {
    .md-4 {
        display: flex;
        flex: 1 0 50%; 
    }

    .infos-boxes {
        flex-direction: column;
        margin-bottom: 1500px;
    
    }
}

/* learn-bexar-section */

@media screen and (max-width: 1200px) {
    .md-4 {
        display: flex;
        flex: 1 0 50%; 
    }

    .infos-boxes {
        flex-direction: column;
        margin-bottom: 1500px;
    }
}

@media screen and (max-width: 768px) {
    .md-4 {
        flex: 1 0 100%; 
        max-width: 100%;
    }
}
/* footer */

@media screen and (max-width: 768px) {
    .md-6 {
        flex: 1 0 100%; 
        max-width: 100%;
    }

    .footer-icon {
        text-align: center; 
    }

    .footer-right {
        flex-direction: column; 
    }

    .btn-part-last {
        margin-top: 20px;
        margin-left: 200px; 
    }

    .last-btn {
        flex-direction: column;
    }
    .footer-info {
        padding-bottom: 700px;
    
    }

    .footer-icon{
        padding-bottom: 700px;
    
    }
}
@media screen and (max-width: 700px) {
    .md-6 {
    }

    .footer-icon {
        text-align: center; 
    }

    .footer-right {
        flex-direction: column; 
    }

    .btn-part-last {
        margin-top: 20px;
        margin-left: 200px; 
    }

    .last-btn {
        flex-direction: column; 
    }
    .footer-info {
        width: 100%;
        padding-bottom: 700px;
    
    }

    .footer-icon{
        padding-bottom: 700px;
    
    }
}